extends layout

block content
  div.title 
    h1="Lista de autores"
  main.body
    div.body__catalogue
      ul
        each author in author_list
          li 
            a(href=author.url) 
              div.marco 
                |  #{author.name} 
                | (#{author.lifespan})

        else
          b There are no authors.
